<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoAvocado"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AcercaActivity"
            android:exported="false" />
        <activity
            android:name=".InicioActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VistaDetalladaActivity"
            android:exported="true" />
        <activity
            android:name=".ContactoActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrarseActivity"
            android:exported="true" />
        <activity
            android:name=".AgregaRecetaActivity"
            android:exported="true" />
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="true" />
        <activity
            android:name=".FeedActivity"
            android:exported="true" />
        <activity
            android:name=".favoritesActivity"
            android:exported="true" />
        <activity
            android:name=".PerfilActivity"
            android:exported="true" />
        <activity
            android:name=".ModificarRecetaActivity"
            android:exported="true" />
        <activity
            android:name=".ModificarPerfilActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>